@import '../../variables.scss';

.help-form {
  padding: 20px;

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__input label {
    @extend %titleCard;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &__input input,
  &__textarea  {
    padding: 5px 10px;
    border-radius: 6px;
    border-style: none;
    width: 90%;
  }

  &__input input:focus,
  &__textarea:focus {
    outline: none;
  }
  
  &__textarea {
    resize: none;
  }

  &__button {
    
  }

}