@import '../../variables.scss';

.helper-button {
    @extend %flexCenter;
    width: 5rem;
    height: 5rem;
    background-color: inherit;
    border: 1px solid #FF7F50;
    border-radius: 100%;
    position: fixed;
    right: 6%;
    bottom: 20%;
    animation-duration: 1750ms ;
    animation-fill-mode: both ;
    animation-iteration-count: infinite ;
    animation-name: button-shadow-throb ;
    animation-timing-function: linear ;
    
    // a {
    //     @extend %flexCenter;
    //     width: 100%;
    //     height: 100%;
    // }
}

@keyframes button-shadow-throb {
    0% {
        box-shadow:
            0px 0px 0px 0px $orandge, /* Ring three - hidden. */
            0px 0px 0px 0px $orandge, /* Ring two - hidden. */
            0px 0px 0px 0px $orandge  /* Ring one - hidden. */
        ;
    }
    15% {
        box-shadow:
            0px 0px 0px 0px $orandge,
            0px 0px 0px 0px $orandge,
            0px 0px 0px 5px $orandge  /* Ring one - enter. */
        ;
    }
    30% {
        box-shadow:
            0px 0px 0px 0px $orandge,
            0px 0px 0px 5px $orandge, /* Ring two - enter. */
            0px 0px 0px 10px #f3602b
        ;
    }
    45% {
        box-shadow:
            0px 0px 0px 5px $orandge, /* Ring three - enter. */
            0px 0px 0px 10px #f3602b,
            0px 0px 0px 15px #c6491b
        ;
    }
 
    60% {
        box-shadow:
            0px 0px 0px 10px $orandge,
            0px 0px 5px 4px #df734c,
            0px 0px 5px 4px #dda242
        ;
    }
    75% {
        box-shadow:
            0px 0px 0px 15px #dca268,
            0px 0px 5px 4px #e1c9c1,
            0px 0px 5px 4px #da7f5e
        ;
    }
    90% {
        box-shadow:
            0px 0px 15px 15px #9d3610,
            0px 0px 5px 4px #b15e3f,
            0px 0px 5px 4px #b15e3f
        ;
    }
    100% {
        box-shadow:
            0px 0px 15px 15px #b15e3f,
            0px 0px 5px 4px #b15e3f,
            0px 0px 5px 4px #b15e3f
        ;
    }
}

.help-form {
  padding: 20px;

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 350px;
  }

  &__input label {
    @extend %titleCard;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &__input input,
  &__textarea  {
    padding: 10px 10px;
    border-radius: 6px;
    border-style: none;
    background-color: #E9EBEE;
  }

  &__input input:focus,
  &__textarea:focus {
    outline: none;
  }
  
  &__textarea {
    resize: none;
    margin-bottom: 20px;
  }

  &__button {
    padding: 8px 35px;
    background-color: transparent;
    color: $white;
    border-radius: 13px;
    border: 1px solid $white;
  }

}