@import '../../variables.scss';

.cardMenu {
  width: 100%;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 50px;

   .cardMenu-item {
    border-radius: 20px;

    &__inner {
      padding: 22px;
      display: block;
    }
   }

  .cardMenu-item:nth-child(1) {
    background-color: #EFFF9F;
  }

  .cardMenu-item:nth-child(2) {
    background-color: #AF9FFF;
  }

  .cardMenu-item:nth-child(2) .cardMenu-item__descr {
    margin-bottom: 74px;
  }

  .cardMenu-item:nth-child(3) {
    background-color: #FFD36F;
  }

  .cardMenu-item:nth-child(4) {
    background-color: #FD97E9;
  }

  .cardMenu-item:nth-child(5) {
    background-color: #589EF4;
    width: 150%;
    margin-left: 188px;
    display: flex;
    align-items: center;
  }

  .img-block {
    width:  100%;
    height: 176px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .searching-img {
    width: 337px;
    height: 271px;
  }

  .cardMenu-item__title {
    font-size: 2.875rem;
    color: #000000;
    margin: 0;
  }

  .cardMenu-item__descr {
    width: 65%;
    font-size: 1.125rem;
    color: #000000;
  }

  .card-menu__button {
    color: #ffffff;
    background-color: #000000;
    width: 158px;
    height: 48px;
    border-radius: 50px;
    border-style: none;
  }

  .first-line-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1070px) {
  .cardMenu {
    width: 100%;
    display: grid;
    grid-template-columns: 475px;
    justify-content: center;
    gap: 50px;

    .cardMenu-item:nth-child(5) {
      width: 100%;
      margin-left: 0px;
      flex-direction: column-reverse;
    }

    .searching-img {
      width: 300px;
      height: 234px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cardMenu {
    grid-template-columns: 445px;

    .cardMenu-item__title {
      font-size: 2.15rem;
    }
  
    .cardMenu-item__descr {
      width: 65%;
      font-size: 1rem;
    }

    .cardMenu-item:nth-child(2) .cardMenu-item__descr {
      margin-bottom: 15px;
    }
  
  }
}

@media screen and (max-width: 470px) {
  .cardMenu {
    grid-template-columns: 350px;

    .cardMenu-item__title {
      font-size: 2rem;
    }

    .cardMenu-item__descr {
      width: 75%;
      font-size: 1rem;
    }

    .img-block {
      width:  100%;
      height: 122px;
      margin-bottom: 20px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }

    .card-menu__button {
      width: 144px;
      height: 48px;
    }

    .card-arrows {
      width: 49px;
      height: 49px;
    }

    .searching-img {
      width: 246px;
      height: 163px;
    }
  }
}