@import '../../variables.scss';

.post-form {
  margin: 0px 0px 100px 0px;
  &__input-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__input-block label {
    @extend %titleCard;
    font-weight: 400;
  }

  &__input-block label span {
    margin-left: 5px;
    color: red;
  }

  &__input-name,
  &__textarea {
    width: 58%;
    padding: 10px 21px;
    border-radius: 12px;
    outline: none;
    border-style: none;
  }

  &__textarea {
    resize: none;
    height: 180px;
  }

  .heading-buttons {
    margin-top: 15px;
  }
 

  .heading-buttons input{
    border-style: none;
    background-color: transparent;
    color: #26A4FF;
    @extend %titleCard;
    font-size: 1.125rem;
    font-weight: 400;
    margin-right: 16px;
    cursor: pointer;
  }

  &__sumbit-btn {
    @extend %light-button;
    font-size: 1rem;
    border-style: none; 
  }

  &__descr {
    @extend %saptext;
    font-size: 0.875rem;
    font-weight: 400;
    color: #676767;
    margin: 5px 0 15px 0;
  }
}

@media screen and (max-width: 768px) {
  .post-form {
    &__input-block label {
      font-size: 0.875rem;
    }
  }
}