@import './variables.scss';

*,
**::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Inter', sans-serif;
 font-size: 1rem;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

// font-family: 'Inter', sans-serif;
// font-family: 'Mulish', sans-serif;
// font-family: 'Syne', sans-serif;

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn_Li_border {
  border: 2px solid #000;
  color: $black;
}

.btn_Bl_border {
  border: 2px solid $white;
  color: $white;
}

button::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #EFFF9F;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
   box-shadow:2px 0px 14px rgba(0,0,0,.6);
}
button::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #AF9FFF;;
  position: absolute;
-ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}

button:hover::before, button:hover::before{
  opacity:.5;
  width: 116%;
}
button:hover::after, button:hover::after{
  opacity:.5;
  width: 120%;
}

.bunner__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button_Full_Li {
  background-color: $white;
  color: $black;
}

.button_Full_Bl {
  background-color: $black;
  color: $white;
}

@media (max-width: 1260px) {
  .container {
    width: 95%;
  }
}